[v-cloak],
.hidden {
  display: none;
}

.hidden-xs {
  display: none;

  @include media('o-screen', '>=sm') {
    display: inherit
  }
}

.hidden-md {
  @include media('o-screen', '>=sm') {
    display: none;
  }
}

@include media('o-screen', '>=sm') {
  .visible-xs {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
