// Grid
// ====
// Settings for grid project
//
// stylelint-disable indentation, number-no-trailing-zeros

// Grid breakpoints
//
// Define the maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  'xs': 400px,
  'sm': 768px,
  'md': 1025px,
  'lg': 1200px
);

// Grid columns
// ------------
// Set the width of the gutters.

$grid-gutter-widths: (
  'xs': 10px,
  'sm': 30px,
  'md': 30px,
  'lg': 30px
) !default;
$grid-flexbox-gutter-width: 16px;
$grid-flexbox-padding-width: ($grid-flexbox-gutter-width / 2);
